* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "source-sans-pro";
  font-style: normal;
  src: url("fonts/source-sans-pro.ttf");
}

body {
  font-family: "source-sans-pro", Arial, sans-serif;
  color: #000;
  background-color: #fff;
  min-height: 100vh;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  margin-top: 2em;
}

h2 {
  border-bottom: 1px dotted #d04000;
  margin-bottom: 0.25em;
}

a {
  text-decoration: none;
  color: #d04000;
  padding: 0 0.2em;
}

a:hover {
  text-decoration: dotted;
  background-color: #a4caba;
  color: #111;
}

section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  font-size: 1.2em;
}

footer {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.about {
  margin: 1em 3em 0;
  font-size: 1.2em;
  max-width: 25em;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line * {
  margin-left: 0.05em;
  margin-right: 0.05em;
}

.card {
  margin: 1em;
  display: inline-block;
}

.image-circle {
  height: 1em;
  width: 1em;
  shape-outside: circle();
  background-clip: content-box;
  border-radius: 50%;
  margin-right: 0.15em;
}

.subtext {
  color: #555;
  max-width: 25em;
  display: block;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.small {
  font-size: small;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: only dark;
  }

  body {
    background-color: #222;
    color: #ddd;
  }

  h2 {
    border-bottom-color: #caad44;
  }

  a {
    color: #caad44;
  }

  a:hover {
    background-color: #a4caba;
    color: #111;
  }

  .subtext {
    color: #888;
  }

  .dark-theme-filter {
    filter: invert(100%);
  }
}
