* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "source-sans-pro";
  font-style: normal;
  src: url("fonts/source-sans-pro.ttf");
}

body {
  font-family: "source-sans-pro", Arial;
  color: #000000;
  background-color: #ffffff;
}

h2 {
  border-bottom: 1px dotted #901050;
  margin-bottom: 0.25em;
}

.link {
  text-decoration: none;
  color: #901050;
  padding: 0 0.2em;
}

.link:hover {
  text-decoration: dotted;
  background-color: #901050;
  color: #ececec;
}

.block {
  min-height: 100vh;
  padding: 2em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.tr {
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin-top: 1.5em;
  font-size: 1.2em;
}

.vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical * {
  margin-left: 0.05em;
  margin-right: 0.05em;
}

.dot {
  margin-left: 0.1em;
  margin-right: 0.1em;
  user-select: none;
}

.image-circle {
  height: 1em;
  width: 1em;
  shape-outside: circle();
  background-clip: content-box;
  border-radius: 50%;
  margin-right: 0.15em;
}

.right-space {
  margin-right: 0.3em;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.small {
  font-size: small;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: only dark;
  }

  body {
    background-color: #222;
    color: #ffffffde;
  }

  h2 {
    border-bottom-color: #c9a0b5;
  }

  .link {
    color: #bd3a7b;
  }

  .link:hover {
    background-color: #901050;
    color: #ececec;
  }

  .dark-theme-filter {
    filter: invert(100%);
  }
}
